<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Ads</title>
</head>
<body>
<h1>Прошел все курсы на SkillBox. Продаю готовые домашние задания!</h1>
<ul>
    <li><a href="{% url 'item_1' %} ">Python Advanced</a></li>
    <li><a href="{% url 'item_2' %} ">Профессия Графический дизайнер</a></li>
    <li><a href="{% url 'item_3' %} ">Профессия Инженер по тестированию</a></li>
    <li><a href="{% url 'item_4' %} ">Профессия Веб-разработчик</a></li>
    <li><a href="{% url 'item_5' %} ">Профессия Бизнес-аналитик</a></li>
</ul>
</body>
</html>