<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Ads</title>
</head>
<body>
<h1>Профессия Python-разработчик</h1>
<div>
    <div>
        <img src="https://248006.selcdn.ru/LandGen/desktop_2_54d5e1c00071494e9e5dd47d5a036d107e550166.webp" alt=""
             width="200 px">
        <p>Стоимость курса: 70.000 рублей</p>
        <div><a href="https://skillbox.ru/course/profession-python/">Записаться на курс</a></div>
    </div>
    <br>
    <div><a href="{% url 'advertisements_list' %} ">Назад</a></div>
</div>
</body>
</html>