<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Ads</title>
</head>
<body>
<h1>Профессия Инженер по тестированию</h1>
<div>
    <div>
        <img src="https://248006.selcdn.ru/LandGen/desktop_2_0b95c9f42ca3ec65c771ec857e7f8193459ca51d.webp" alt=""
             width="200 px">
        <p>Стоимость курса: 50.000 рублей</p>
        <div><a href="https://skillbox.ru/course/profession-test/">Записаться на курс</a></div>
    </div>
    <br>
    <div><a href="{% url 'advertisements_list' %} ">Назад</a></div>
</div>
</body>
</html>