<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Ads</title>
</head>
<body>
<h1>Профессия Бизнес-аналитик </h1>
<div>
    <div>
        <img src="https://248006.selcdn.ru/LandGen/desktop_2_103cf52042897badbad23dc0b52adb121c2c92e0.webp" alt=""
             width="200 px">
        <p>Стоимость курса: 75.000 рублей</p>
        <div><a href="https://skillbox.ru/course/profession-business-analyst/">Записаться на курс</a></div>
    </div>
    <br>
    <div><a href="{% url 'advertisements_list' %} ">Назад</a></div>
</div>
</body>
</html>