<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Ads</title>
</head>
<body>
<h1>Профессия Веб-разработчик</h1>
<div>
    <div>
        <img src="https://248006.selcdn.ru/LandGen/desktop_2_d9f8fad206cfcc69b1c08c66434c9f836a45633f.webp" alt=""
             width="200 px">
        <p>Стоимость курса: 30.000 рублей</p>
        <div><a href="https://skillbox.ru/course/profession-webdev/">Записаться на курс</a></div>
    </div>
    <br>
    <div><a href="{% url 'advertisements_list' %} ">Назад</a></div>
</div>
</body>
</html>