<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Ads</title>
</head>
<body>
<h1>Профессия Графический дизайнер</h1>
<div>
    <div>
        <img src="https://248006.selcdn.ru/LandGen/desktop_2_22a383c92ed66051d584992a873050b78193937e.webp" alt=""
             width="200 px">
        <p>Стоимость курса: 60.000 рублей</p>
        <div><a href="https://skillbox.ru/course/profession-graphdesigner-designit/">Записаться на курс</a></div>
    </div>
    <br>
    <div><a href="{% url 'advertisements_list' %} ">Назад</a></div>
</div>
</body>
</html>